.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 120px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.original-price {
    font-size: 16px;
    text-decoration: line-through;
    color: red;
    margin-bottom: 5px;
}

.discount-price {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.product-card p {
    margin: 5px 0;
}

.test {
    display: none;
    position: fixed;
    top: 0;
    height: 100vh;
    width:100%;
    background-color: rgba(239, 239, 240, 0.3);
}


.modalWindow {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    border: 1px solid black;
    z-index: 1;
    width: 55%;
    height: 70vh;
    background-color: rgb(202, 199, 198);
}

.modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;

}

.modalPhoto {
    border-radius: 25px;
    width: 250px;
    height: 350px;
}

.additionalInfo {
    width: 100%;
    background-color: #4CAF50;
    padding: 20px;
    margin: 10px;
}

.mainText {
    font-weight: bold;
}


.detailBtn {
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}