.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 120px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-name {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.original-price {
    font-size: 16px;
    text-decoration: line-through;
    color: red;
    margin-bottom: 5px;
}

.discount-price {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.product-card p {
    margin: 5px 0;
}

.modalWindow {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: 50%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    opacity: 0;
    animation: modalFadeIn 0.5s ease-out forwards;
    border: none;
}

.modalName {
    color: #333;
}

.modal-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.modalPhoto {
    border-radius: 12px;
    width: 250px;
    height: auto;
    object-fit: cover;
}

.additionalInfo {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: #333;
}

.mainText {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.detailBtn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.detailBtn:hover {
    background-color: #388E3C;
}

#closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #666;
    background: none;
    border: none;
    transition: color 0.3s;
}

#closeBtn:hover {
    color: black;
}

.mainModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -10%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 768px) {
    .products-container {
        flex-direction: column;
        gap: 15px;
    }

    .product-card {
        width: 90%;
        margin: auto;
    }

    .modalWindow {
        width: 90%;
        max-width: 90%;
        padding: 15px;
    }

    .modalPhoto {
        border-radius: 12px;
        width: 250px;
        height: auto;
        object-fit: cover;
    }
}